In [21]:
import pandas as pd, requests

In [22]:
#get TI matches
ti_matches = requests.get('https://api.opendota.com/api/leagues/14268/matches')
ti_matches = ti_matches.json()

In [23]:
#load all ti matches
matches_df = pd.DataFrame(ti_matches)
matches_df.head()

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_gold_adv,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type
0,6808011785,5700828073,False,1665905941,1737,1792,1974,50,63,154,...,None,None,None,NaN,None,6,31,None,714127,1
1,6807935361,5700790538,False,1665902254,3418,0,1952,0,60,154,...,"[4, 173, -440, -602, -893, -1856, -2443, -2633...","[0, 260, -69, -268, -251, -845, -1202, -1034, ...","[{'start': 406, 'end': 453, 'last_death': 438,...",21.0,"{'647': 132, '4764': 0, '5465': 130, '5466': 1...",22,43,"[{'order': 1, 'pick': False, 'active_team': 3,...",714124,1
2,6807938213,5700779828,False,1665902363,2711,1796,1540,51,59,154,...,"[0, 727, 928, 1293, 1324, 1773, 1834, 2098, 23...","[0, -156, 230, 593, 361, 738, 651, 968, 875, 9...","[{'start': 1250, 'end': 1292, 'last_death': 12...",21.0,"{'647': 130, '746': 131, '4317': 4, '4764': 0,...",20,25,"[{'order': 1, 'pick': False, 'active_team': 3,...",714126,1
3,6807946326,5700780501,False,1665902783,2341,1536,1846,2,63,154,...,"[0, -368, -835, -728, -994, -1945, -2236, -194...","[0, 134, -452, -10, 2, -890, -1266, -771, -147...","[{'start': 1558, 'end': 1610, 'last_death': 15...",21.0,"{'600': 2, '647': 4, '4050': 4, '5204': 129, '...",14,37,"[{'order': 1, 'pick': False, 'active_team': 3,...",714129,1
4,6807939991,5700769442,False,1665902205,2182,1536,1974,0,63,154,...,"[0, 55, -107, -50, 541, 990, 921, 1225, 1176, ...","[0, 141, 147, 291, 486, 1256, 1031, 1434, 1058...","[{'start': 259, 'end': 304, 'last_death': 289,...",21.0,"{'647': 2, '4101': 2, '4794': 4, '4994': 2, '6...",18,35,"[{'order': 1, 'pick': False, 'active_team': 3,...",714127,1

In [24]:
#save json file for each match if not yet saved
all_matches = list(matches_df['match_id'])
saved_matches_df = pd.read_csv('saved_matches.csv')
saved_matches = list(saved_matches_df['match_id'])
for match in all_matches:
    if match not in saved_matches:
        match_list = []
        match_data = requests.get(f'https://api.opendota.com/api/matches/{match}')
        match_data = match_data.json()
        match_list.append(match_data)
        match_data_df = pd.DataFrame(match_list)
        match_data_json = match_data_df.to_json(f'matches/{match}.json')
        saved_matches.append(match)
        saved_matches_df=pd.DataFrame(saved_matches,columns=['match_id'])
        saved_matches_df.to_csv('saved_matches.csv',index=False)

In [25]:
#load all matches to json file
all_matches = list(matches_df['match_id'])
all_matches_data = []
loaded_matches_df = pd.read_csv('loaded_matches.csv')
loaded_matches = list(loaded_matches_df['match_id'])
loaded_matches_data_df = pd.read_json('all_matches.json')
all_matches_data.append(loaded_matches_data_df)

for match in all_matches:
    if match not in loaded_matches:
        load_match = pd.read_json(f'matches/{match}.json')
        all_matches_data.append(load_match)
        loaded_matches.append(match)
        loaded_matches_df=pd.DataFrame(loaded_matches,columns=['match_id'])
        loaded_matches_df.to_csv('loaded_matches.csv',index=False)
        all_matches_data_df = pd.concat(all_matches_data,ignore_index=True)
        all_matches_data_df.to_json('all_matches.json',orient="records")